Django==2.2.13
django-cors-headers==3.1.1
django-debug-toolbar==2.1
django-extensions==2.2.5
django-filter==2.2.0
djangorestframework==3.10.3
django-redis==4.10.0
mysqlclient==1.4.5
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
pillow==6.2.1
django-mptt==0.10.0
drf-extensions==0.5.0
xpinyin==0.5.6
channels==2.3.1
daphne==2.3.0
